{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-recess-order",
    "stylelint-config-standard"
  ],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": null
  }
}
